/******************************* HOME PAGE ****************************************************************************************************/
h1 {
  color: white;
}

/**********************************************************************************************************************************************/
/****************************** HOME PAGE *****************************************************************************************************/
.quiz-title {
  font-family: "Courier New", monospace;
  font-size: 40px;
}

/**********************************************************************************************************************************************/
