.App {
  text-align: center;
  background-color: rgb(0, 0, 0); background-image: radial-gradient(at 4% 58%, rgb(56, 10, 0) 0px, transparent 50%), radial-gradient(at 24% 9%, rgb(122, 22, 0) 0px, transparent 50%), radial-gradient(at 73% 73%, rgb(138, 25, 0) 0px, transparent 50%), radial-gradient(at 52% 34%, rgb(163, 30, 0) 0px, transparent 50%), radial-gradient(at 94% 33%, rgb(204, 37, 0) 0px, transparent 50%), radial-gradient(at 36% 77%, rgb(56, 53, 0) 0px, transparent 50%);
  padding-bottom:50vh;

}
